@import url(https://lsong.org/css/stylesheet.css);
@import url(https://lsong.org/stylesheets/form.css);
@import url(https://lsong.org/stylesheets/button.css);

textarea {
  min-height: 150px;
  min-width: 100%;
  max-width: 100%;
  display: block;
}

.input-block {
  width: 100%;
}

.button-primary {
  color: red;
}

#orders ul {
  padding: 0;
}

#orders li {
  cursor: pointer;
}